body {
    background-color: #f5f5f5;
}
nav {
    color: #000;
    background-color: #eeeeee;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

nav .brand-logo {
    color: #000;
    font-family: Montserrat, Georgia, sans-serif;
    font-weight: 700;
    margin-left: 30px;
}


nav ul a {
    color: #000;
    font-family: Montserrat, Georgia, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

nav ul {
    margin-right: 30px;
}

nav .brand-logo:hover {
    color: #838383;
}

nav a {
    color: #000;
}

.side-nav {
    width: 50%;
    text-align: center;
    background-color: #eeeeee;
}

.side-nav li>a {
    font-weight: 700;
}

nav .button-collapse i {
    font-size: 30px;
}

@media (max-width: 500px) {
    nav .brand-logo {
        font-size: 24px;
    }
}

@media (max-width: 450px) {
    nav .brand-logo {
        font-size: 19px;
        margin-left: 15px;
    }
}

.img-box {
    position: relative;
    height: 400px;
    z-index: -1;
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/special.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card .card-content {
    height: 120px;
}

.container {
    margin-top: 150px;
}

.card {
    background-color: #eee;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: none;
    transition: all 175ms;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 5px 10px #a7a7a7;
}
